### Q1. Create one variable containing following type of data:

In [1]:
#1) string

a = 'Krisanu'
type(a)

str

In [2]:
#2) list

b = [1,2,3,4,'anupan', 35.26,True]

type(b)

list

In [3]:
#3)float

c = 35.79

type(c)

float

In [5]:
#iv)tuple

d = (1,2,3,4,'krisanu',True)
type(d)

tuple

### Q2. Given are some following variables containing data. What will be the data type of the above given variable

In [6]:
var1=''
type(var1)

str

In [7]:
var2 = '[DS, ML, Python]'
type(var2)

str

In [8]:
var3 = ['DS','ML','Python']
type(var3)

list

In [9]:
var4 = 1
type(var4)

int

### Q3. Explain the use of the following operators using an example

In [12]:
#(i). "/" - Float division

a1 = 5

b1= 4

a1/b1

1.25

In [14]:
#(ii). "%" - Modulus operator
a2 = 5

b2= 4

a2%b2

1

In [15]:
#(iii) "//" - Integer division

a3 = 5

b3= 4

a3//b3

1

In [16]:
#(iv) "**" - Power Operatior

k = 2

k**2

4

### Q4. Create a list of length 10 of your choice containg multiple types of data. Using for loop print elecments and its data type

In [29]:
a = [1,2,3,'Krisanu',45.38,(6,7,8), True, 5+4j,[9,0,6],{'k' : 1, 'b':3} ]

for i in a :
    print("element in  the list :", i," ", type(i))

element in  the list : 1   <class 'int'>
element in  the list : 2   <class 'int'>
element in  the list : 3   <class 'int'>
element in  the list : Krisanu   <class 'str'>
element in  the list : 45.38   <class 'float'>
element in  the list : (6, 7, 8)   <class 'tuple'>
element in  the list : True   <class 'bool'>
element in  the list : (5+4j)   <class 'complex'>
element in  the list : [9, 0, 6]   <class 'list'>
element in  the list : {'k': 1, 'b': 3}   <class 'dict'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [31]:
n = 1
m = 50

count = 0

div = 5

while (n<=m):
    if n%div == 0:
        print(n , 'is divisible by 5')
        count+=1
    else:
        print(n, 'is not divisible by 5')
    n+=1

print("Number of times number in range from 1 to 50  is divisible by 5 is ", count)

1 is not divisible by 5
2 is not divisible by 5
3 is not divisible by 5
4 is not divisible by 5
5 is divisible by 5
6 is not divisible by 5
7 is not divisible by 5
8 is not divisible by 5
9 is not divisible by 5
10 is divisible by 5
11 is not divisible by 5
12 is not divisible by 5
13 is not divisible by 5
14 is not divisible by 5
15 is divisible by 5
16 is not divisible by 5
17 is not divisible by 5
18 is not divisible by 5
19 is not divisible by 5
20 is divisible by 5
21 is not divisible by 5
22 is not divisible by 5
23 is not divisible by 5
24 is not divisible by 5
25 is divisible by 5
26 is not divisible by 5
27 is not divisible by 5
28 is not divisible by 5
29 is not divisible by 5
30 is divisible by 5
31 is not divisible by 5
32 is not divisible by 5
33 is not divisible by 5
34 is not divisible by 5
35 is divisible by 5
36 is not divisible by 5
37 is not divisible by 5
38 is not divisible by 5
39 is not divisible by 5
40 is divisible by 5
41 is not divisible by 5
42 is not divisible by 5
43 is not divisible by 5
44 is not divisible by 5
45 is divisible by 5
46 is not divisible by 5
47 is not divisible by 5
48 is not divisible by 5
49 is not divisible by 5
50 is divisible by 5
Number of times number in range from 1 to 50  is divisible by 5 is  10

### Q6. Create a list containing 25 int type data. Using for loop and if - else condition print if the element is divisible by 3 or not

In [41]:
list1 = list(range(0, 25))
list2=[]
for i in list1:
    if i % 3 ==0:
        print(i,'is divisible by 3')
        list2.append(i)
    else:
        print(i ,'is not divisible by 3')

print('list of elements in range between 0 to 25 is divisible by 3: ', list2)

0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
list of elements in range between 0 to 25 is divisible by 3:  [0, 3, 6, 9, 12, 15, 18, 21, 24]

### Q7. What do you understand about mutable and immutable data types ? Give examples for both showing this property

Mutable data types : Mutable is when something is changeable or has the ability to change. In Python, 'mutable' is the ability of objects to change their values. These are often the objects that store a collection of data.
Mutable data types are list, dictionaries and sets are mutable

In [42]:
#mutable data types

list3 = [3,4,'Krisan']

list3[2] = 'sen'

list3

[3, 4, 'sen']

In [50]:
dict1 = {'k':1, 'r' : 2}
dict1['k'] = 5
dict1

{'k': 5, 'r': 2}

In [53]:
set1 = {'Krisanu','Anupam', 'Tridip'}
set1.add('Bishal')
set1

{'Anupam', 'Bishal', 'Krisanu', 'Tridip'}

Immutable data types: Immutable is the when no change is possible over time. In Python, if the value of an object cannot be changed over time, then it is known as immutable. Once created, the value of these objects is permanent. Immutable data types are string, tuple.

In [45]:
#Immutable data types
a = 'Krisanu'
a[0] = 'T'
a

TypeError: 'str' object does not support item assignment

In [48]:
c = (1,2,3)
c[0] = 6
c

TypeError: 'tuple' object does not support item assignment